* {
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
}
.jumbotron {
  padding: 30px; /* fills out the jumbotron */
  background-color: #111;
  text-align: center;
  color: white;
}

.map {
  width: 100%;
}

.box {
  margin: 5px;
}

#locationHeader {
  display: none;
}

.hideDiv {
  display: none;
}
